.container-box{
    width: 100vw;
    height: 100vh;
    background-color: #FAF9F8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(90deg, #242222 50%, #FAF9F8 50%);
}

.black{
    background-color: #242222;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.box-1{
    width: 500px;
    height: 500px;
    border: 1px solid #FAF9F8;
}

.txt-white{
    font-size: 2em;
    color: #FAF9F8;
    padding: 4vw;
}

.txt-title {
    font-size: 4em;
}

.japan-txt-1{
    position: absolute;
    color: #d50606;
    top: 10px;
    left: 20px;
    
}

.letter:nth-child(1){
    animation: flip 7s infinite;
    animation-delay: calc(.1s * 7);
    
}
.letter:nth-child(2){
    animation: flip 7s infinite;
    animation-delay: calc(.2s * 7)
}
.letter:nth-child(3){
    animation: flip 7s infinite;
    animation-delay: calc(.3s * 7)
}
.letter:nth-child(4){
    animation: flip 7s infinite;
    animation-delay: calc(.4s * 7)
}
.letter:nth-child(5){
    animation: flip 7s infinite;
    animation-delay: calc(.5s * 7)
}
.letter:nth-child(6){
    animation: flip 7s infinite;
    animation-delay: calc(.6s * 7)
}
.letter:nth-child(7){
    animation: flip 7s infinite;
    animation-delay: calc(.7s * 7)
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg);
      color: #FAF9F8;
    }
  }
  
@keyframes linkhover {
    50%{
        letter-spacing: 8px;
    }
    100%{
        letter-spacing: 4px;
    }
}

.link-left{
    position: absolute;
    color: #FAF9F8;
    left: 20px;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.box-2{
    width: 500px;
    height: 500px;
    border: 1px solid #242222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.japan-txt-2{
    position: absolute;
    color: #242222;
    bottom: 10px;
    right: 20px;
}

.link-right{
    position: absolute;
    color: #242222;
    right: 20px;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.txt-p-white{
    color: #FAF9F8;
    
}
.txt-p-black{
    color: #242222;
    font-size: 1.3rem;
}

.link-top{
    position: absolute;
    top: 20px;
    left: 50%;
    color: #242222;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
    
}
.link-top:hover{
    animation: linkhover 1.5s ease-in-out;
}

.img-profil{
    width: 250px;
}

.picto-github{
    position: absolute;
    bottom: 20px;
    right: 51%;
    width: 35px;
}

.picto-linkedin{
    position: absolute;
    bottom: 11px;
    left: 50%;
    width: 50px;
}

.red-word{
    color: #d50606;
}


@media screen and (max-width:1100px) {
    .box-1{
        width: 400px;
        height: 400px;
    }
    .box-2{
        width: 400px;
        height: 400px;
    }
    .txt-white{
        font-size: 1.8em;
    }
}

@media screen and (max-width:900px) {
    .box-1{
        width: 300px;
        height: 300px;
    }
    .box-2{
        width: 300px;
        height: 300px;
    }
    .txt-title {
        font-size: 2em;
    }
    .box-2>img {
       width: 200px;     
    }
    .txt-white{
        font-size: 1.3em;
    }
}

@media screen and (max-width:700px) {
    .container-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#242222 50%, #FAF9F8 50%);
    }
    .txt-title{
        padding-top: 140px;
    }
    .box-1{
        width: 250px;
        border-bottom: none;
        height: 250px;
    }
    .box-2{
        width: 250px;
        height: 250px;
        border-top: none;
    }
    .link-top{
        position: absolute;
        top: 20px;
        left: 50%;
        color: #FAF9F8;
        font-size: 1.1rem;
    }
    .link-right{
        position: absolute;
        color: #242222;
        right: 20px;
        font-size: 1.1rem;
    }
    .japan-txt-2{
       display: none;
    }
    .japan-txt-1{
       display: none;
    }
    .link-left{
        position: absolute;
        color: #FAF9F8;
        left: 20px;
        font-size: 1.1rem;
        transform: translate(-50%, -50%);
    }
    .txt-white{
        font-size: 1.1em;
        padding-top: 20px;
    }
    .img-profil{
        height: 180px;
    }
    .picto-github{
        background-color: #242222;
        border: 1px solid #242222;
        border-radius: 50%;
        width: 38px;
        bottom: 18px;
    }
}
