.container-skills{
    background: #FAF9F8;
    height: 100vh;
    width: 100vw;
}

.container-skills-img{
    margin: 0 auto;
    width: 70vw;
}

.japan-txt-1-2{
    position: absolute;
    color: #242222;
    top: 10px;
    left: 20px;
}

.link-left-2{
    position: absolute;
    color: #242222;
    left: 20px;
    top:50%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.link-right-2{
    position: absolute;
    color: #242222;
    right: 20px;
    top: 50%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.title-skills{
    font-size: 1.5rem;
    padding-top: 150px;
    padding-bottom: 100px;
}

.container-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.japan-txt-2-2{
    position: absolute;
    color: #242222;
    bottom: 10px;
    right: 20px;
}

.container-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
.img-skill{
    width: 150px;
    margin: 30px;
}

.js{
    position: relative;
}

.img-js-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-js-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
}

.react{
    position: relative;
}

.img-react-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-react-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
    width: 155px;
}

.tailwind{
    position: relative;
}

.img-tailwind-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-tailwind-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
    width: 153px;
}

@media screen and (max-width:1200px) {
    .img-skill{
        width: 100px;
        margin: 30px;
    }
}

@media screen and (max-width:700px) {
    .img-skill{
        width: 80px;
        margin: 20px;
    }
}

@media screen and (max-width:400px) {
    .img-skill{
        width: 70px;
        margin: 15px;
    }
}

@media screen and (min-width:1800px) {
    .project-card{
        border: 1px solid #242222;
        width: 800px;
        height: 800px;
    }
    .hr {
        border-top: 1px solid #242222;
        width: 600px;
    }
    .img-project{
        width: 750px;
        height: 350px;
    }
    .img-hover{
        width: 302px;
    }
    .title-project{
        color: #d50606;
        padding: 30px;
        font-size: 3rem;
    }
    .p-project{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 20px;
    }
    .link-right-2{
        right: 30px;
        font-size: 3rem;
    }
    .link-left-2{
        position: absolute;
        color: #242222;
        left: 30px;
        top:50%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
    }
    .link-top-black{
        top: 30px;
        font-size: 4rem;
    }
    .japan-txt-1-2, .japan-txt-2-2{
        font-size: 2rem;
    }
    .img-skill{
        width: 300px;
    }
    .img-react-hover{
        display: none;
    }
    .img-tailwind-hover{
        display: none;
    }
    .title-skills{
        font-size: 5rem;
        padding-top: 300px;
        padding-bottom: 200px;
        font-weight: 100;
    }
}
