.container-skills{
    background: #FAF9F8;
    height: 100vh;
    width: 100vw;
}

.container-skills-img{
    margin: 0 auto;
    width: 70vw;
}

.japan-txt-1-2{
    position: absolute;
    color: #242222;
    top: 10px;
    left: 20px;
}

.link-left-2{
    position: absolute;
    color: #242222;
    left: 20px;
    top:50%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.link-right-2{
    position: absolute;
    color: #242222;
    right: 20px;
    top: 50%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
}

.title-skills{
    font-size: 1.5rem;
    padding-top: 150px;
    padding-bottom: 100px;
}

.container-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.japan-txt-2-2{
    position: absolute;
    color: #242222;
    bottom: 10px;
    right: 20px;
}

.container-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
.img-skill{
    width: 150px;
    margin: 30px;
}

.js{
    position: relative;
}

.img-js-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-js-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
}

.react{
    position: relative;
}

.img-react-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-react-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
    width: 155px;
}

.tailwind{
    position: relative;
}

.img-tailwind-hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.img-tailwind-hover:hover{
    transition: 0.3s ease-in;
    opacity: 1;
    width: 153px;
}

@media screen and (max-width:1200px) {
    .img-skill{
        width: 100px;
        margin: 30px;
    }
}

@media screen and (max-width:700px) {
    .img-skill{
        width: 80px;
        margin: 20px;
    }
}

@media screen and (max-width:400px) {
    .img-skill{
        width: 70px;
        margin: 15px;
    }
}